body {
    text-rendering: optimizeLegibility; /* Optimiza para texto pequeño y kerning */
    height: 97% !important;
}

i {
    pointer-events: none !important;
}

.user-access-logo {
    height: 200px;
    width: 200px;
}

.login-container {
    padding-top: 30px !important;
    padding-bottom: 0 !important;
}

.prevent-app-header-padding {
    padding-top: 50px !important;
}

.w-125px {
    width: 125px !important;
}

.remove-shadow {
    --bs-btn-close-focus-shadow: none;
}

/* password meter */

.password-meter {
    display: flex;
    height: 5px;
    margin-top: 5px;
}

.meter-section {
    flex: 1;
    background-color: #ddd;
}

.weak {
    background-color: #ff4d4d;
}

.medium {
    background-color: #ffd633;
}

.strong {
    background-color: #00b300;
}

.very-strong {
    background-color: #009900;
}

/* tooltips changes */

.tooltip {
    --bs-tooltip-max-width: 300px !important;
    max-width: 300px !important;
}

.tooltip-inner {
    text-align: justify !important;

}

.vh-80 {
    height: calc(80vh - 100px) !important;
}

.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .app-content {
        margin-right: 0;
        padding: 20px 30px;
    }
}


.medal-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.medal {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.medal-ribbon {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 3px;
}

.medal-ribbon::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e0e0e0;
}

.medal-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.medal-container:hover .medal-tooltip {
    visibility: visible;
    opacity: 1;
}

.medal:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.gold {
    background: linear-gradient(45deg, #FFD700, #FFA500);
    border: 2px solid #FFD700;
}

.silver {
    background: linear-gradient(45deg, #C0C0C0, #A9A9A9);
    border: 2px solid #C0C0C0;
}

.bronze {
    background: linear-gradient(45deg, #CD7F32, #8B4513);
    border: 2px solid #CD7F32;
}

.dev-mode-btn {
    top: 40% !important;
}

/*Botones redes sociales*/

/* Google: Outline blue */
.btn-outline-google {
    color: #4285F4 !important;
    border-color: #4285F4 !important;
}

.btn-outline-google:hover {
    background-color: #4285F4 !important;
    color: #fff !important;
}

/* Facebook: Outline blue */
.btn-outline-facebook {
    color: #1877F2 !important;
    border-color: #1877F2 !important;
}

.btn-outline-facebook:hover {
    background-color: #1877F2 !important;
    color: #fff !important;
}

/* Instagram: Outline gradient */
.btn-outline-instagram {
    color: #C13584 !important;
    border-color: #C13584 !important;
    background: linear-gradient(#f09433, #e6683c, #dc2743, #cc2366, #bc1888) !important;
    background-clip: text !important;

}

.btn-outline-instagram:hover {
    background: linear-gradient(#f09433, #e6683c, #dc2743, #cc2366, #bc1888) !important;
    color: #fff !important;
}

/* GitHub: Outline black */
.btn-outline-github {
    color: #333 !important;
    border-color: #333 !important;
}

.btn-outline-github:hover {
    background-color: #333 !important;
    color: #fff !important;
}


/* Steam: Outline dark */
.btn-outline-steam {
    color: #171a21 !important;
    border-color: #171a21 !important;
}

.btn-outline-steam:hover {
    background-color: #171a21 !important;
    color: #fff !important;
}

/* Dropbox: Outline blue */
.btn-outline-dropbox {
    color: #007ee5 !important;
    border-color: #007ee5 !important;
}

.btn-outline-dropbox:hover {
    background-color: #007ee5 !important;
    color: #fff !important;
}

/* Spotify: Outline green */
.btn-outline-spotify {
    color: #1DB954 !important;
    border-color: #1DB954 !important;
}

.btn-outline-spotify:hover {
    background-color: #1DB954 !important;
    color: #fff !important;
}

/* Twitch: Outline purple */
.btn-outline-twitch {
    color: #6441a5 !important;
    border-color: #6441a5 !important;
}

.btn-outline-twitch:hover {
    background-color: #6441a5 !important;
    color: #fff !important;
}

/* Slack: Outline red */
.btn-outline-slack {
    color: #E01E5A !important;
    border-color: #E01E5A !important;
}

.btn-outline-slack:hover {
    background-color: #E01E5A !important;
    color: #fff !important;
}

/* Auth0: Outline grey */
.btn-outline-auth0 {
    color: #eb5424 !important;
    border-color: #eb5424 !important;
}

.btn-outline-auth0:hover {
    background-color: #eb5424 !important;
    color: #fff !important;
}


/* Twitter: Outline blue */
.btn-outline-twitter {
    color: #1DA1F2 !important;
    border-color: #1DA1F2 !important;
}

.btn-outline-twitter:hover {
    background-color: #1DA1F2 !important;
    color: #fff !important;
}

/* LinkedIn: Outline blue */
.btn-outline-linkedin {
    color: #0A66C2 !important;
    border-color: #0A66C2 !important;
}

.btn-outline-linkedin:hover {
    background-color: #0A66C2 !important;
    color: #fff !important;
}

/* Apple: Outline black */
.btn-outline-apple {
    color: #000000 !important;
    border-color: #000000 !important;
}

.btn-outline-apple:hover {
    background-color: #000000 !important;
    color: #fff !important;
}

/* Microsoft: Outline orange */
.btn-outline-microsoft {
    color: #F25022 !important;
    border-color: #F25022 !important;
}

.btn-outline-microsoft:hover {
    background-color: #F25022 !important;
    color: #fff !important;
}

/* Disqus: Outline blue */
.btn-outline-disqus {
    color: #2E9FFF !important;
    border-color: #2E9FFF !important;
}

.btn-outline-disqus:hover {
    background-color: #2E9FFF !important;
    color: #fff !important;
}

/* Foursquare: Outline pink */
.btn-outline-foursquare {
    color: #F94877 !important;
    border-color: #F94877 !important;
}

.btn-outline-foursquare:hover {
    background-color: #F94877 !important;
    color: #fff !important;
}

.modal .modal-header {
    flex: unset !important;
}

.translate-container {
    width: unset !important;
}

.table {
    width: 100% !important;
}

.table > :not(caption) > * > * {
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important;
}

.dt-column-order {
    right: 6px !important;
}

.dtfc-top-blocker {
    line-height: var(--bs-body-line-height) !important;
    margin: 0.8rem 0 !important;
}

.fs-t {
    width: 1% !important;
}

.dt-button-collection {
    width: fit-content !important;
    min-width: fit-content !important;
}

.dt-buttons {
    margin-bottom: 0 !important;
}

.dt-search input {
    max-width: 120px !important;
    width: 120px !important;
}

tbody, td, tfoot, th, thead, tr {
    border-top-color: var(--bs-table-border-color) !important;
    border-top-width: 1px !important;
}

input, select, textarea {
    box-shadow: unset !important;
}

body table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, body table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    display: inline-flex !important;
}


/*CSS for select2 in table*/

.select2-container--tb {
    padding: 0 0 !important;
    height: auto !important;
    line-height: 1.2 !important;
    font-size: 0.6875rem !important;
}

.select2-container--tb * {
    padding: 2px 6px !important;
}