<div class="theme-panel">
    <a class="theme-collapse-btn" data-toggle="theme-panel-expand" href="#"><i
            class="fa fa-cog"></i><span class="visually-hidden">App Settings</span></a>
    <div class="theme-panel-content" data-height="100%" data-scrollbar="true">
        <h5>{{label-setting}}</h5>


        <div class="theme-panel-divider"></div>

        <button aria-controls="collapse-nav"
                aria-expanded="false"
                class="col-12 form-label col-form-label fw-bold w-100 text-start border-0 bg-transparent"
                data-bs-target="#collapse-nav"
                data-bs-toggle="collapse"
                type="button">
            {{label-nav}} (Click!!!)
        </button>

        <div class="collapse" id="collapse-nav">
            <a class="btn btn-outline-warning d-block w-100 rounded-pill mb-2" data-lh-pl="navigation" data-nav-action="User-Terms" href="#"><b>{{button-label-terms}}</b></a>

            <a class="btn btn-outline-primary d-block w-100 rounded-pill mb-2" data-lh-pl="navigation" data-nav-action="{{sys-home}}"><b>{{button-label-go-home}}</b></a>

            <a class="btn btn-outline-primary d-block w-100 rounded-pill" data-lh-pl="navigation" data-nav-action="back" href="#"><b>{{button-label-back-page}}</b></a>
        </div>

        <div class="theme-panel-divider"></div>

        <div class="row mt-10px">
            <label class="col-4 form-label col-form-label fw-bold" for="lang">{{label-lang}}</label>
            <div class="col-8">
                <form action="/Change-Language" method="post">
                    <select class="form-control form-select" data-lh-pl="select" data-lh-pl-options="minimumResultsForSearch: Infinity" data-width="100%"
                            id="lang" name="event">
                        <option value="en" {{lang-en-selected}}>English</option>
                        <option value="es" {{lang-es-selected}}>Español</option>
                        <option value="fr" {{lang-fr-selected}}>Français</option>
                        <option value="pt" {{lang-pt-selected}}>Português</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="theme-panel-divider"></div>
        <h6>{{label-color-theme}}</h6>
        <div class="theme-list">
            <div class="theme-list-item"><a class="theme-list-link bg-red" data-bs-container="body"
                                            data-bs-title="Red" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-red" data-toggle="theme-selector"
                                            href="#"><span class="visually-hidden">Red Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-pink" data-bs-container="body"
                                            data-bs-title="Pink" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-pink" data-toggle="theme-selector"
                                            href="#"><span class="visually-hidden">Pink Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-orange" data-bs-container="body"
                                            data-bs-title="Orange" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-orange" data-toggle="theme-selector" href="#"><span class="visually-hidden">Orange Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-yellow" data-bs-container="body"
                                            data-bs-title="Yellow" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-yellow" data-toggle="theme-selector" href="#"><span class="visually-hidden">Yellow Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-lime" data-bs-container="body"
                                            data-bs-title="Lime" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-lime" data-toggle="theme-selector"
                                            href="#"><span class="visually-hidden">Lime Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-green" data-bs-container="body"
                                            data-bs-title="Green" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-green" data-toggle="theme-selector" href="#"><span class="visually-hidden">Green Color</span></a>
            </div>
            <div class="theme-list-item active"><a class="theme-list-link bg-teal" data-bs-container="body"
                                                   data-bs-title="Default" data-bs-toggle="tooltip"
                                                   data-bs-trigger="hover"
                                                   data-theme-class data-toggle="theme-selector"
                                                   href="#"><span class="visually-hidden">Default Color</span></a></div>
            <div class="theme-list-item"><a class="theme-list-link bg-cyan" data-bs-container="body"
                                            data-bs-title="Cyan" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-cyan" data-toggle="theme-selector"
                                            href="#"><span class="visually-hidden">Cyan Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-blue" data-bs-container="body"
                                            data-bs-title="Blue" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-blue" data-toggle="theme-selector"
                                            href="#"><span class="visually-hidden">Blue Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-purple" data-bs-container="body"
                                            data-bs-title="Purple" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-purple" data-toggle="theme-selector" href="#"><span class="visually-hidden">Purple Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-indigo" data-bs-container="body"
                                            data-bs-title="Indigo" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-indigo" data-toggle="theme-selector" href="#"><span class="visually-hidden">Indigo Color</span></a>
            </div>
            <div class="theme-list-item"><a class="theme-list-link bg-black" data-bs-container="body"
                                            data-bs-title="Black" data-bs-toggle="tooltip"
                                            data-bs-trigger="hover"
                                            data-theme-class="theme-gray-600" data-toggle="theme-selector" href="#"><span class="visually-hidden">Black Color</span></a>
            </div>
        </div>

        <div class="theme-panel-divider"></div>
        <div class="row mt-10px">
            <div class="col-8 control-label text-body fw-bold">
                <label for="appThemeDarkMode">{{label-mode-theme}}</label>
                <div class="lh-14">
                    <small class="text-body opacity-50">
                        {{label-mode-explain}}
                    </small>
                </div>
            </div>
            <div class="col-4 d-flex">
                <div class="form-check form-switch ms-auto mb-0">
                    <input class="form-check-input" id="appThemeDarkMode" name="app-theme-dark-mode"
                           type="checkbox" value="1"/>
                    <label class="form-check-label" for="appThemeDarkMode"><span class="visually-hidden">Dark Mode</span></label>
                </div>
            </div>
        </div>

        <div class="row mt-10px">
            <div class="col-8 control-label text-body fw-bold">
                <label for="zoom-control">Page Zoom (125%)</label>
                <div class="lh-14">
                    <small class="text-body opacity-50">
                        Enable/disable page zoom for better readability
                    </small>
                </div>
            </div>
            <div class="col-4 d-flex">
                <div class="form-check form-switch ms-auto mb-0">
                    <input class="form-check-input" data-lh-pl="zoom-control" id="zoom-control" name="zoom-control"
                           type="checkbox" value="1"/>
                    <label class="form-check-label" for="zoom-control"><span class="visually-hidden">Zoom Mode</span></label>
                </div>
            </div>
        </div>


        <!--

        <div class="theme-panel-divider"></div>

        <div class="row mt-10px align-items-center">
            <label class="col-8 control-label text-body fw-bold" for="appHeaderFixed">{{label-fix-header}}</label>
            <div class="col-4 d-flex">
                <div class="form-check form-switch ms-auto mb-0">
                    <input checked class="form-check-input" id="appHeaderFixed" name="app-header-fixed"
                           type="checkbox" value="1"/>
                    <label class="form-check-label" for="appHeaderFixed">&nbsp;</label>
                </div>
            </div>
        </div>

        <div class="row mt-10px align-items-center">
            <div class="col-8 control-label text-body fw-bold">Header Inverse</div>
            <div class="col-4 d-flex">
                <div class="form-check form-switch ms-auto mb-0">
                    <input type="checkbox" class="form-check-input" name="app-header-inverse"
                           id="appHeaderInverse" value="1"/>
                    <label class="form-check-label" for="appHeaderInverse">&nbsp;</label>
                </div>
            </div>
        </div>

        <div class="row mt-10px align-items-center">
            <label class="col-8 control-label text-body fw-bold" for="appSidebarFixed">{{label-fix-sidebar}}</label>
            <div class="col-4 d-flex">
                <div class="form-check form-switch ms-auto mb-0">
                    <input checked class="form-check-input" id="appSidebarFixed"
                           name="app-sidebar-fixed" type="checkbox" value="1"/>
                    <label class="form-check-label" for="appSidebarFixed">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row mt-10px align-items-center">
            <label class="col-8 control-label text-body fw-bold" for="appSidebarGrid">{{label-grid-sidebar}}</label>
            <div class="col-4 d-flex">
                <div class="form-check form-switch ms-auto mb-0">
                    <input class="form-check-input" id="appSidebarGrid" name="app-sidebar-grid" type="checkbox"
                           value="1"/>
                    <label class="form-check-label" for="appSidebarGrid">&nbsp;</label>
                </div>
            </div>
        </div>


        <div class="row mt-10px align-items-center">
            <div class="col-8 control-label text-body fw-bold">Gradient Enabled</div>
            <div class="col-4 d-flex">
                <div class="form-check form-switch ms-auto mb-0">
                    <input type="checkbox" class="form-check-input" name="app-gradient-enabled"
                           id="appGradientEnabled" value="1"/>
                    <label class="form-check-label" for="appGradientEnabled">&nbsp;</label>
                </div>
            </div>
        </div>
        -->
        <div class="theme-panel-divider"></div>

        <!--
        <a class="btn btn-default d-block w-100 rounded-pill mb-2" data-toggle="reset-local-storage"
           href="#"><b>{{button-label-reset-setting}}</b></a>
           -->

        <a class="btn btn-danger d-block w-100 rounded-pill" data-lh-pl="cache-clear" href="#">
            <i class="fa fa-refresh me-1"></i> <b>{{button-label-reset-setting}}</b>
        </a>
    </div>
</div>