<div class="theme-panel">
    <a href="#modal-dev-view" data-bs-toggle="modal" class="theme-collapse-btn dev-mode-btn">
        <i class="fa-solid fa-laptop-code"></i>
    </a>
</div>
<div class="modal fade" id="modal-dev-view">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dev Menu</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12" data-lh-pl="dev-mode">
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-white" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

