<script defer type="text/javascript" src="assets/plugins/datepickk/dist/datepickk.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/gritter/js/jquery.gritter.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.canvaswrapper.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.colorhelpers.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.saturated.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.browser.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.drawSeries.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.uiConstants.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.time.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.resize.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.pie.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.crosshair.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.categories.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.navigate.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.touchNavigate.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.hover.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.touch.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.selection.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.symbol.js"></script>
<script defer type="text/javascript" src="assets/plugins/flot/source/jquery.flot.legend.js"></script>
<script defer type="text/javascript" src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/d3/d3.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/nvd3/build/nv.d3.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/jvectormap-content/world-mill.js"></script>
<script defer type="text/javascript" src="assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/moment/min/moment.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script defer type="text/javascript" src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script defer type="text/javascript" src="assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/tag-it/js/tag-it.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/summernote/dist/summernote-lite.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/clipboard/dist/clipboard.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/highlightjs/cdn-assets/highlight.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/iconify-icon/iconify.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/jstree/dist/jstree.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/intro.js/minified/intro.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/select2/dist/js/select2.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
<script defer type="text/javascript" src="assets/plugins/spectrum-colorpicker2/dist/spectrum.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/select-picker/dist/picker.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/switchery/dist/switchery.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/abpetkov-powerange/dist/powerange.min.js"></script>
<script defer type="text/javascript" src="assets/plugins/parsleyjs/dist/parsley.min.js"></script>

<script type="text/javascript" src="assets/js/theme/vendor.min.js"></script>
<script type="text/javascript" src="assets/js/theme/app.min.js"></script>

<script type="module" src="assets/js/common.js"></script>

{{view_js}}