<!-- SEO Meta Tags -->
<meta content="meta-description" name="description"/>
<meta content="index, follow" name="robots"/>
<meta content="{{meta-keyword}}" name="keywords"/>
<meta content="{{meta-autor}}" name="author"/>

<!-- Open Graph Meta Tags -->
<meta content="{{html-tittle}}" property="og:title"/>
<meta content="{{meta-description}}" property="og:description"/>
<meta content="{{url-image}}" property="og:image"/>
<meta content="{{alt-image}}" property="og:image:alt"/>
<meta content="400" property="og:image:width"/>
<meta content="300" property="og:image:height"/>
<meta content="website" property="og:type"/>
<meta content="{{full-url}}" property="og:url"/>
<meta content="{{lang}}" property="og:locale"/>
<meta content="{{site-name}}" property="og:site_name"/>

<!-- Twitter Card Meta Tags -->
<meta content="{{meta-description}}" name="twitter:card"/>
<meta content="{{html-tittle}}" name="twitter:title"/>
<meta content="{{meta-description}}" name="twitter:description"/>
<meta content="{{url-image}}" name="twitter:image"/>
<meta content="{{alt-image}}" name="twitter:image:alt"/>
<meta content="{{site-name}}" name="twitter:site"/>
<meta content="{{twitter-creator}}" name="twitter:creator"/>


